<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!-->
<html class=no-js>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="description" content="BlackTie Free Bootstrap Theme">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Jon MVP</title>
  <link rel=stylesheet href="css/main.css">
  <script src="https://use.fontawesome.com/b0a0dbf37d.js"></script>
  <!--[if lte IE 8]>
  <link rel=stylesheet href="css/ie.css">
  <![endif]-->
</head>

<body>
  <!-- TODO: change these links to go somewhere useful -->
  <div class="nav navbar">
    <a class="btn btn-prepend btn-launch-video" href="#">
      <i class="prepended icon-append-play"></i>Watch Video
    </a>
    <a class="btn btn-prepend" href="#">
      <i class="prepended icon-append-iphone"></i>Learn More
    </a>
  </div>
  <!-- FRAME 2 -->
  <div class="mb-200">
    <div class="container mb-100">
      <div class=row>
        <div class="col-sm-4 col-md-4 col-sm-offset-1">
          <h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered">Jon
          <br class="hidden-xs"> MVP</h1>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <h2 class="w-300 color-dark mb-10 xs-mb-10">hash table</h2>
          <p class="xs-mw">A hash table stores and retrieves key/ value pairs at constant time. Try it out!
        </div>
      </div>
    </div>
    <div class=container>
      <div class="row mb-90 xs-mb-0">
        <div class="col-sm-12">
          <h3 class="mb-15">Explanation</h3>
          <p class>A <a href="https://www.wikiwand.com/en/Hash_table">hash table</a> is a data structure that supports storage and retrieval of values with an average of O(1) time complexity, or <span class=" italic ">constant time</span>, meaning that in <span class="italic ">most cases</span> the amount of time to store or retrieve a value does not increase as the data set grows. However, as the hash table becomes too full (over 75% of possible indices are filled), storage and retrieval will become inefficient due to collisions. Once, the utilization surpasses 75%, the hash table will double in size and reassign all values stored. While this operation is expensive, it should be rather rare and amortized over all other storage/retrieval transactions. Additionally, to save space, the hash table will halve in size when its utilization drops below 25%.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <i class="fa fa-user fa-lg" aria-hidden="true "></i>
        </div>
        <div class="inputs col-sm-5 ">
          <h3 class="mb-15 ">Specify User Inputs</h3>
          <h4 class="mb-15 ">Key to Store</h4>
          <input class="key mb-15 " id="key " rv-value="input.key " value=" " type="text ">
          <h4 class="mb-15 ">Value to Store</h4>
          <input class="value " mb-15 " rv-value="input.value " value=" " type="text ">
              <button class="btn store ">Store</button>
              <h4 class="mb-15 ">Key to Retrieve</h4>
              <input class="key-retrieve " mb-15 " rv-value="input.value " value=" " type="text ">
          <button class="btn retrieve ">Retrieve</button>
        </div>
        <div class="col-sm-1 ">
          <i class="fa fa-database fa-lg"></i>
        </div>
        <div class="col-sm-5" id="hashTable">
          <div class="mb-15">
            <h3 class="mb-15 ">Dashboard</h3>
            <p>Number of indices in the hash-table: <span>{ state.hashTable._limit }</span></p>
            <p>Number of key-value pairs stored: <span>{ state.hashTable.nodesFilled}</span></p>
          </div>
          <div class="mb-15">
            <h4>Output</h4>
            <textarea class="output "></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- FRAME 3 -->
  <div class="level level-img-right ">
    <div class="container mb-200">
      <div class="row mb-90 xs-mb-0">
        <div class="col-sm-4 col-md-4 col-sm-offset-1">
          <h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered">Code</h1>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <h2 class="w-300 color-dark mb-10 xs-mb-10">how i did this</h2>
          <p class="xs-mw">The GitHub repository for this project is
            <a href="">here</a>.</p>
        </div>
      </div>
      <div class=" col-sm-1 ">
        <i class="fa fa-code fa-lg " aria-hidden="true "></i>
      </div>
      <div class="col-sm-11 col-md-11 ">
        <h3 class="mb-15 ">See the Code</h3>
        <script src="https://gist.github.com/e3ea3880746bc09cbe748c084e6355e7.js "></script>
      </div>
    </div>
  </div>
  </div>
  <!-- footer -->
  <div class="footer text-center ">
    <p class="fmenu ">
      <a href="index.html ">HOME</a> | <a href="about.html ">ABOUT</a>
    </p>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js "></script>
  <script>
  window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js "><\/script>')
  </script>
  <script src="bower_components/rivets/dist/rivets.bundled.min.js "></script>
  <script src="scripts/hashTableHelpers.js "></script>
  <script src="scripts/hashTable.js "></script>
  <script src="scripts/application.js "></script>
  <!-- //-end- concat_js -->
</body>

</html>
